<button (click)="startNumber(true)">Start</button>&nbsp;
<button (click)="startNumber(false)">Stop</button>
<br /><br />
<label>Number: {{data}}</label>
<br /><br />

<table style="width: 50%; height: 50%;">
  <thead>
    <tr>
      <th>Number</th>
      <th>Prime Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div *ngFor="let num of numbers">
          <p>
            {{num}}
          </p>
          <br />
        </div>
      </td>
      <td>
        <div *ngFor="let num of primeNum">
          <p style="background-color: yellow;">
            {{num}}
          </p>
          <br />
        </div>
      </td>
    </tr>
  </tbody>
</table>
